<div style="padding: 5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active"><a routerLink="dashboard">Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="bindingPages">Binding Examples</a></li>
        <li routerLinkActive="active"><a routerLink="fundamentals">Fundamentals</a></li>
        <li routerLinkActive="active"><a routerLink="cssPages">CSS Examples</a></li>
        <li routerLinkActive="active"><a routerLink="serviceDIColorMod">Service Dependency Injection Color Module</a></li>
        <li routerLinkActive="active"><a routerLink="pipePages">Pipe Examples</a></li>
        <li routerLinkActive="active"><a routerLink="servicePages">Service Examples</a></li>
        <li routerLinkActive="active"><a routerLink="lifeCycleHookPages">LifeCycle Hook Examples</a></li>
        <li routerLinkActive="active"><a routerLink="injectionPages">Dependency Injection Examples</a></li>
        <li routerLinkActive="active"><a routerLink="promisesObservables">Promises and Observables</a></li>
        <li routerLinkActive="active"><a routerLink="routingExampleProgrammers">Routing Example</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>
